<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thailand Food Recipe</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div id="wrapper">
    <div id="header">

    </div>
    <div id="nav">
        <div class="container">
            <div class="row">
                <div id="nav-container" class="col-12">
                    <img src="images/logo/logo.png" alt="logo" id="logo">
                    <div id="menu">
                        <ul>
                            <li class="current-menu-item"><a href="#">Home</a></li>
                            <li><a href="#">Food Recipe</a></li>
                            <li><a href="#">Food Blog</a></li>
                            <li><a href="#">Food Ingredients</a></li>
                        </ul>
                    </div>
                    <div id="search">
                        <form action="#">
                            <input type="search" name="s" id="search-box" placeholder="Search recipe">
                            <button type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <img src="images/bar.png" alt="bar" id="bar">
    </div>

    <div id="banner">
        <img src="images/food/others/Green%20Papaya%20Salad.jpg" alt="banner">
    </div>

    <main id="main">
        <div class="container">
            <div class="row">
                <div id="content" class="col-9">
                    <div class="widget-container">
                        <h2 class="widget-title">Food Recipe</h2>
                        <div class="grid-container">
                            <!--ITEM-->
                            <div class="item">
                                <a href="#"><img src="images/no-image.png" alt=""></a>
                                <div class="meta">
                                    <span class="author">Posted by admin</span>
                                    <span class="count">Like: 0</span>
                                    <span class="date">September 01, 2018</span>
                                </div>
                                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                                    dolorum, ex laborum omnis perspiciatis sint.</p>
                            </div>
                            <!--ITEM-->
                            <div class="item">
                                <a href="#"><img src="images/no-image.png" alt=""></a>
                                <div class="meta">
                                    <span class="author">Posted by admin</span>
                                    <span class="count">Like: 0</span>
                                    <span class="date">September 01, 2018</span>
                                </div>
                                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                                    dolorum, ex laborum omnis perspiciatis sint.</p>
                            </div>
                            <!--ITEM-->
                            <div class="item">
                                <a href="#"><img src="images/no-image.png" alt=""></a>
                                <div class="meta">
                                    <span class="author">Posted by admin</span>
                                    <span class="count">Like: 0</span>
                                    <span class="date">September 01, 2018</span>
                                </div>
                                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                                    dolorum, ex laborum omnis perspiciatis sint.</p>
                            </div>
                            <!--ITEM-->
                            <div class="item">
                                <a href="#"><img src="images/no-image.png" alt=""></a>
                                <div class="meta">
                                    <span class="author">Posted by admin</span>
                                    <span class="count">Like: 0</span>
                                    <span class="date">September 01, 2018</span>
                                </div>
                                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                                    dolorum, ex laborum omnis perspiciatis sint.</p>
                            </div>
                        </div>
                    </div>
                    <div class="widget-container">
                        <h2 class="widget-title">Food Blog</h2>
                        <div class="grid-container">
                            <!--ITEM-->
                            <div class="item">
                                <a href="#"><img src="images/no-image.png" alt=""></a>
                                <div class="meta">
                                    <span class="author">Posted by admin</span>
                                    <span class="count">View: 0</span>
                                    <span class="date">September 01, 2018</span>
                                </div>
                                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                                    dolorum, ex laborum omnis perspiciatis sint.</p>
                            </div>
                            <!--ITEM-->
                            <div class="item">
                                <a href="#"><img src="images/no-image.png" alt=""></a>
                                <div class="meta">
                                    <span class="author">Posted by admin</span>
                                    <span class="count">View: 0</span>
                                    <span class="date">September 01, 2018</span>
                                </div>
                                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                                    dolorum, ex laborum omnis perspiciatis sint.</p>
                            </div>
                            <!--ITEM-->
                            <div class="item">
                                <a href="#"><img src="images/no-image.png" alt=""></a>
                                <div class="meta">
                                    <span class="author">Posted by admin</span>
                                    <span class="count">View: 0</span>
                                    <span class="date">September 01, 2018</span>
                                </div>
                                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                                    dolorum, ex laborum omnis perspiciatis sint.</p>
                            </div>
                            <!--ITEM-->
                            <div class="item">
                                <a href="#"><img src="images/no-image.png" alt=""></a>
                                <div class="meta">
                                    <span class="author">Posted by admin</span>
                                    <span class="count">View: 0</span>
                                    <span class="date">September 01, 2018</span>
                                </div>
                                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                                    dolorum, ex laborum omnis perspiciatis sint.</p>
                            </div>
                        </div>
                    </div>

                    <div class="photo-item" id="item1">
                        <img src="images/no-image.png" alt="">
                        <img src="images/no-image.png" alt="">
                        <img src="images/no-image.png" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis enim laboriosam
                            perspiciatis, quisquam temporibus ullam.</p>
                        <button class="show-all" data-id="item1">Show all</button>
                    </div>

                    <div class="photo-wrapper" id="photo-item1">
                        <button class="btn-close">X</button>
                        <div class="photo-box">
                            <div data-id="item1" class="active">
                                <img src="images/food/others/thai-clear-soup.jpg" alt="">
                                <p>1Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus iure maiores minus placeat reprehenderit sint?</p>
                            </div>
                            <div data-id="item1">
                                <img src="images/no-image.png" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus iure maiores minus placeat reprehenderit sint?</p>
                            </div>
                            <div data-id="item1">
                                <img src="images/no-image.png" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus iure maiores minus placeat reprehenderit sint?</p>
                            </div>
                            <div data-id="item1">
                                <img src="images/no-image.png" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus iure maiores minus placeat reprehenderit sint?</p>
                            </div>
                            <div data-id="item1">
                                <img src="images/no-image.png" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus iure maiores minus placeat reprehenderit sint?</p>
                            </div>
                            <div data-id="item1">
                                <img src="images/no-image.png" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus iure maiores minus placeat reprehenderit sint?</p>
                            </div>
                            <div data-id="item1">
                                <img src="images/no-image.png" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus iure maiores minus placeat reprehenderit sint?</p>
                            </div>
                            <div data-id="item1">
                                <img src="images/no-image.png" alt="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus iure maiores minus placeat reprehenderit sint?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sidebar" class="col-3">
                    <div class="widget-container">
                        <h2 class="widget-title">Blog Post</h2>
                        <div class="grid-container-sidebar">
                            <!--ITEM-->
                            <div class="item">
                                <a href="#"><img src="images/no-image.png" alt=""></a>
                                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                                <div class="meta">
                                    <span class="author">Posted by admin</span>
                                    <span class="count">View: 0</span>
                                    <span class="date">September 01, 2018</span>
                                </div>
                            </div>
                            <!--ITEM-->
                            <div class="item">
                                <a href="#"><img src="images/no-image.png" alt=""></a>
                                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                                <div class="meta">
                                    <span class="author">Posted by admin</span>
                                    <span class="count">View: 0</span>
                                    <span class="date">September 01, 2018</span>
                                </div>
                            </div>
                            <!--ITEM-->
                            <div class="item">
                                <a href="#"><img src="images/no-image.png" alt=""></a>
                                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                                <div class="meta">
                                    <span class="author">Posted by admin</span>
                                    <span class="count">View: 0</span>
                                    <span class="date">September 01, 2018</span>
                                </div>
                            </div>
                            <!--ITEM-->
                            <div class="item">
                                <a href="#"><img src="images/no-image.png" alt=""></a>
                                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                                <div class="meta">
                                    <span class="author">Posted by admin</span>
                                    <span class="count">View: 0</span>
                                    <span class="date">September 01, 2018</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="widget-container">
                        <h2 class="widget-title">Popular Recipe</h2>
                        <div class="grid-container">
                            <!--ITEM-->
                            <div class="item">
                                <a href="#"><img src="images/no-image.png" alt=""></a>
                                <div class="meta">
                                    <span class="author">Posted by admin</span>
                                    <span class="count">Like: 0</span>
                                    <span class="date">September 01, 2018</span>
                                </div>
                                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                                    dolorum, ex laborum omnis perspiciatis sint.</p>
                            </div>
                            <!--ITEM-->
                            <div class="item">
                                <a href="#"><img src="images/no-image.png" alt=""></a>
                                <div class="meta">
                                    <span class="author">Posted by admin</span>
                                    <span class="count">Like: 0</span>
                                    <span class="date">September 01, 2018</span>
                                </div>
                                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                                    dolorum, ex laborum omnis perspiciatis sint.</p>
                            </div>
                            <!--ITEM-->
                            <div class="item">
                                <a href="#"><img src="images/no-image.png" alt=""></a>
                                <div class="meta">
                                    <span class="author">Posted by admin</span>
                                    <span class="count">Like: 0</span>
                                    <span class="date">September 01, 2018</span>
                                </div>
                                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                                    dolorum, ex laborum omnis perspiciatis sint.</p>
                            </div>
                            <!--ITEM-->
                            <div class="item">
                                <a href="#"><img src="images/no-image.png" alt=""></a>
                                <div class="meta">
                                    <span class="author">Posted by admin</span>
                                    <span class="count">Like: 0</span>
                                    <span class="date">September 01, 2018</span>
                                </div>
                                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                                    dolorum, ex laborum omnis perspiciatis sint.</p>
                            </div>
                            <!--ITEM-->
                            <div class="item">
                                <a href="#"><img src="images/no-image.png" alt=""></a>
                                <div class="meta">
                                    <span class="author">Posted by admin</span>
                                    <span class="count">Like: 0</span>
                                    <span class="date">September 01, 2018</span>
                                </div>
                                <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                                    dolorum, ex laborum omnis perspiciatis sint.</p>
                            </div>
                        </div>
                    </div>

                    <div id="footer-bottom">
                        <h3>Copyright Vietnam 2018</h3>

                    </div>
                </div>
            </div>
        </div>

    </footer>
</div>

<script src="js/jquery.js"></script>
<script src="js/main.js"></script>
</body>
</html>