* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    width: 1600px;
    height: 900px;
    background: url("../images/background-3.jpg");
    background-size: cover;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#game, #game-overlap, #logo, #counter-left, #counter-right, #fuel-counter, #fuel-number, #fuel-gauge, [class|="elm"] {
    position: absolute;
    z-index: 1;
}

[class|="elm"] {
    pointer-events: none;
}
#game {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;

}

#game.pause [class|="elm"] {
    animation-play-state: paused;
}



#logo {
    width: 100px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 8;
}

#counter-left {
    left: 10px;
    top: 10px;
    z-index: 3;
}

#counter-right {
    right: 10px;
    top: 10px;
    z-index: 3;
}

[id|="counter"] img, [id|="counter"] span {
    vertical-align: middle;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}

#fuel-counter {
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    width: 200px;
    height: 100px;
    background: url("../images/fuel-counter.png");
    background-size: cover;
    z-index: 3;
}

#fuel-gauge {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
    transform-origin: bottom center;
    transition: all .3s;
}

#fuel-number {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
}

.elm-main {
    width: 120px;
    height: 100px;
    background: url("../images/main.png");
    background-size: cover;
    left: 100px;
    top: 200px;
    animation: main .3s linear infinite;
    z-index: 2;
}
.elm-main::before {
    transition: all 1s;
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    background: rgba(00, 88, 188, 0.5);
    border-radius: 50%;
    border-color: #007fff;
}
.elm-main[visible="1"]::before {
    left: -25%;
    top: -25%;
    width: 150px;
    height: 150px;
    animation: changeColor .3s alternate infinite;
}

@keyframes changeColor {
    from {
        border: solid 2px yellow;
    }
    to {
        border: solid 2px #db3f3d;
    }
}

@keyframes main {
    0% {
        background: url("../images/main.png");
        background-size: cover;
    }
    50% {
        background: url("../images/main-o.png");
        background-size: cover;
    }
    100% {
        background: url("../images/main-y.png");
        background-size: cover;
    }

}

.elm-planet {
    max-width: 80px;
    left: 600px;
    top: 600px;
    animation: rotate 1s alternate infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: translateY(-10px);
    }
    70% {
        transform: translateY(10px);
    }
    100% {
        transform: rotate(180deg);
    }
}

.elm-asteroid {
    width: 80px;
    height: 80px;
    left: 600px;
    top: 200px;
    background: url("../images/asteroid/asteroid-1.png");
    background-size: cover;
    animation: scale 1s ease-in-out alternate infinite;
}

.elm-asteroid::before {
    content: '';
    width: 80px;
    height: 5px;
    border: solid 1px #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
}

.elm-asteroid::after {
    content: '';
    width: 80px;
    height: 5px;
    background: #db3f3d;
    position: absolute;
    bottom: 0;
    left: 0;
}

.elm-asteroid[hit="1"]::after {
    width: 40px;
}

@keyframes scale {
    0% {
        transform: scale(.9);
    }
    20% {
        transform: translateY(-10px);
    }
    70% {
        transform: translateY(10px);
    }
    100% {
        transform: scale(1.1);
    }
}

.elm-enemy {
    width: 60px;
    height: 60px;
    background: url("../images/enemy/enemy-1.png");
    background-size: cover;
    left: 300px;
    top: 500px;
    animation: spaceship .5s steps(4) infinite;
}

.elm-friend {
    width: 60px;
    height: 60px;
    background: url("../images/friend.png");
    background-size: cover;
    left: 300px;
    top: 100px;
    animation: spaceship .5s steps(4) infinite;
}

@keyframes spaceship {
    from {
        background-position: 0;
    }
    to {
        background-position: 238px;
    }
}

.elm-fuel {
    width: 28px;
    height: 33px;
    background: url("../images/fuel.png");
    background-size: cover;
    left: 400px;
    top: 100px;
    animation: fuel 1s ease-in-out alternate infinite;
}

@keyframes fuel {
    0% {
        transform: rotate(-30deg);
    }
    20% {
        transform: scale(.9);

    }
    70% {
        transform: scale(1.1);
    }
    100% {
        transform: rotate(30deg);
    }
}

.elm-main-shot {
    left: 250px;
    top: 240px;
    width: 15px;
    height: 15px;
    background: url("../images/shot.png");
    background-size: cover;
}

.elm-enemy-shot {
    width: 15px;
    height: 15px;
    background: url("../images/shot.png");
    background-size: cover;
    transform: scale(-1);
}

.elm-boom {
    width: 100px;
    height: 50px;
    background: url("../images/boom.png");
    background-size: cover;
    left: 500px;
    top: 300px;
    animation: boom .1s alternate infinite;
}



@keyframes boom {
    from {
        transform: scale(.8);
    }
    from {
        transform: scale(1.2);
    }
}

/*Dialog*/
@font-face {
    font-family: asul;
    src: url("../font/asul/Asul-Regular.ttf");
}

@font-face {
    font-family: sacramento;
    src: url("../font/sacramento/Sacramento-Regular.ttf");
}

.ui-dialog {
    background: rgba(0, 0, 0, 0);
    text-align: center;
}

.ui-dialog * {
    border: none;
    color: #ffffff;
}

.ui-dialog-titlebar {
    text-align: center;
    font-size: 28px;
    font-family: sacramento;
    background: rgba(0, 0, 0, 0);
}

.ui-dialog-titlebar-close {
    display: none;
}

#help-dialog p {
    font-size: 16px;
    text-align: left;
    animation: animateText 2s;
}

#help-dialog span {
    font-size: 24px;
    font-family: asul;
    font-weight: bold;
}

#help-dialog button {
    animation: animateButton 2.5s;
}

@keyframes animateText {
    from {
        transform: rotateY(-180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

@keyframes animateButton {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.ripple-button {
    width: 120px;
    height: 40px;
    background: #db3f3d;
    color: #ffffff;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 10px;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
}

.ripple-button:hover {
    background: #241D4F;
}

.ripple-button:disabled {
    background: #d5d5d5;
    cursor: not-allowed;
}

.ripple-button::before {
    content: '';
    position: absolute;
    left: 35%;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    opacity: .5;
    transition: all .3s;
    transform: scale(0);
}

.ripple-button:active::before {
    transform: scale(1);
}

#form-dialog input {
    color: #111111;
    padding: 10px;
    width: 300px;
}

#ranking-dialog table {
    width: 100%;
    border-collapse: collapse;
    border: solid 1px #ffffff;
}

#ranking-dialog tr, #ranking-dialog th, #ranking-dialog td {
    border: solid 1px #ffffff;
    padding: 5px;
}

#modal.active {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}